{% extends 'food/layout.html' %}
{% load static %}

{% block title %}
{{ product.title }}
{% endblock %}


{% block content %}
<div class="detail_product">
    <div class="block">
        <img class="photo_detail" src="{{ product.photo.url }}" alt="photo">
        <ul>
            <h3>{{ product.title }}</h3>
            <hr>
            <form action="{% url 'add_rating' %}" method="post" name="rating">
                <b>Рейтинг: </b>
                {% csrf_token %}
                <input type="hidden" value="{{ product.id }}" name="product">
                <span class="rating">
                    {% for k, v in star_form.fields.star.choices %}
                    {% if request.POST.star %}
                    <p>Вы установили рейтинг: {{ request.POST.star }} из {{ star_form.fields.star.choices|length }}
                        возможных.</p>
                    {% endif %}
                    <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                    <label for="rating{{ v }}">{{ k }}</label>
                    {% endfor %}
                </span>
            </form>

            <li style="text-decoration: underline chocolate;">{{ product.weight }} г</li>
            <li>{{ product.price }} грн.</li>

            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ cart_product_form }}
                <button class="btn btn-warning" value="submit"><i class="bi bi-cart3"></i> В кошик</button></i>
            </form>
            
            <hr>
            <div class="description">
                {{ product.description | truncatewords:3 }}
                <a href="#" class="read-more">Читати далі</a>
            </div>
            <hr>
            <p>
                <img class="shopping" src="{% static 'food/img/shopping.png' %}" alt="online-photo">
                Купуйте онлайн та заощаджуйте.
            </p>
            <div class="country">
                {% for country in product.manufacturer.all %}
                <h3>Виробник :</h3>
                <a href="{{ country.get_absolute_url }}" style="text-decoration: none;">{{ country.name }}</a>
                <img class="country_image" src="{{ country.image.url }}" alt="country_image">
                <span>{{ country.description | truncatewords:3 }}</span>
                {% endfor %}
                <hr>
            </div>
        </ul><br>
        <div class="comments">
            <form action="{% url 'add_comments' product.id %}" method="post">
                <h2>Ваш коментарий </h2>
                {% csrf_token %}
                <div class="input-txt">
                    <label for="username"></label>
                    <input type="text" name="name" placeholder="Имя *">
                </div>
                <div class="input-email">
                    <label for="useremail"></label>
                    <input type="email" name="email" placeholder="Email *">
                    <div class="text-user">
                        <label for="comments"></label>
                        <textarea name="text" id="" cols="23" rows="" placeholder="Ваш коментарий *"></textarea>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-success">Отправить</button>
                </div>
            </form>
            <div class="comments-user">
                <h3>Коментарии:</h3>
                {% for coments in product.comments_set.all %}
                <p><b>Имя :</b> {{ coments.name }}</p>
                <p><b>Коментарий :</b> {{ coments.text }}</p>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<script>
    document.querySelector('.read-more').addEventListener('click', function (event) {
        event.preventDefault();
        var description = document.querySelector('.description');
        description.innerHTML = '{{ product.description }}';
    });

    const rating = document.querySelector('form[name=rating]');

    rating.addEventListener("change", function (e) {
        // Получаем данные из формы
        let data = new FormData(this);
        fetch(`${this.action}`, {
            method: 'POST',
            body: data
        })
            .then(response => alert("Рейтинг установлен"))
            .catch(error => alert("Ошибка"))
    });

</script>

{% endblock %}