* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* header start */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 20px 10px;
}

header img {
    height: 60px;
}

.wrap-logo {
    margin-top: -10px;
}

header a {
    color: #212121;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 2px;
}

header nav a:hover {
    background-color: #f5d7c6;
    color: #212121;
    border-radius: 20px;
}

header a.active {
    background-color: #fffaf7;
}

header span {
    color: rgb(196, 14, 14);
}

.search {
    margin-top: 15px;
}

.search input {
    border-radius: 10px;
}

button {
    height: 35px;
}

/* header end */


/* Slider image start */

.slider {
    width: 100%;
    overflow: hidden;
}

.slider .imeges {
    width: 100%;
}

.imeges img {
    width: 100%;
}

/* Slider image end */

/* output of products start */

.container {
    width:250px; 
    float:left; 
    margin-bottom:20px; 
    height:350px; 
    overflow:hidden;
    transition: transform 0.8s ease;
}

.container:hover {
    transform: scale(1.1);
}

.container ul li {
    list-style: none;
}

.photo {
    flex: 1;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .info-row {
        flex-direction: column;
    }
}

/* output of products end */
